name: 构建和发布

on:
  push:
    branches:
      - 'main'

permissions:
  id-token: write
  contents: write

jobs:
  build:
    if: ${{ github.event.head_commit && contains(github.event.head_commit.message, '(pub)') }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 10.27.0

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'pnpm'
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: pnpm install

      # build
      - name: Change version
        id: set-version
        run: |
          OLD_VERSION="$(node ./script/update-version.mts)"
          echo "old_version=$OLD_VERSION" >> "$GITHUB_OUTPUT"

      - name: Build
        run: pnpm run build

      - name: Restore version
        run: |
          node ./script/set-version.mts ${{ steps.set-version.outputs.old_version }}

      #publish
      - name: Run semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # 用于在 GitHub 上创建 release 与 tag
        run: pnpm exec semantic-release